@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

.nanum-brush-script-regular {
  font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.dataBody{
  position: absolute;
  z-index: 999;
  width: 80%;
  height: 77%;
  transform: translate(13%, 23%);
  text-align: left;
}

.dataInfo_r{
    left: 0%;
    z-index: 300;
    font-size: large;
    width: 100%;
    height: 6%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: wheat;
    /*transform:translate(25%,-50%);*/
  }
  .dataName_r{
    overflow: hidden;
    position: absolute;
    bottom : 0px;
    z-index: 300;
    font-size: x-large;
    height: fit-content;
    left: 50%;
    max-width: 80%;
    color: wheat;
    transform:translate(-50%,-50%);
    text-overflow: ellipsis;
  }
  .dataType_r{
    overflow: hidden;
    position: absolute;
    top : 0px;
    width: 50%;
    z-index: 300;
    font-size: x-large;
    height: fit-content;
    left: 50%;
    color: wheat;
    transform:translate(-50%,50%);
    text-align: center;
    text-overflow: ellipsis;
  }
  
  .dataDescription_r{
    border-top : thick double wheat;
    color: wheat;
    font-size: medium;
    z-index: 300;
    width: 100%;
    height: 75%;
    padding: 5px;
    position: absolute;
    bottom: -28%;
    left: -2%;
  }
  
  .descriptionLabel_r{
    bottom: 52%;
    overflow: hidden;
    z-index: 300;
    font-size: medium;
    height: auto;
    text-overflow: ellipsis;
    color: wheat;
  }

  .dataBackgroundImage{
    background-image: url('../images/dataBackground.svg');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    background-size: cover;   
  }