  .music-note-circle-background {
    z-index: 10;
    height: 90vmin;
    pointer-events: none;
    position: relative;
    top: 50%;
    left: 50%;
    overflow: hidden;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .music-note-circle-background {
      animation: music-note-circle-background-spin-center infinite 20s linear;
    }
  }

  @keyframes music-note-circle-background-spin-center {
    from {
      transform:translate(-50%,-25%) rotate(0deg);
    }
    to {
      transform:translate(-50%,-25%) rotate(360deg);
    }
  }
