  .music-note-circle-background {
    z-index: 10;
    height: 90vmin;
    pointer-events: none;
    position: relative;
    top: 50%;
    right: -28%;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .music-note-circle-background {
      animation: music-note-circle-spin infinite 20s linear;
    }
  }

  @keyframes music-note-circle-background-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
